<h1>Your Infos</h1>
<p><strong>Name:</strong><%= @user.name%></p>
<p><strong>Username:</strong><%= @user.username%></p>
<p><strong>Email:</strong><%= @user.email%></p>

<h2>Your events</h2>

<% @user.created_events.each do |event| %>
  <%= render event %>
<% end %>
