<div class="row">
  <h1 class="w-100 text-center">All Events</h1>
  <% if session[:current_user] %>

    <h3> Invited to attend </h3>
    <% @user.invited_events.each do |event| %>
      <% if @user.attended_events.none?{|e| e.id== event.id}%>
        <%= render event %>
        <%= link_to 'Accept invitation', controller: "events", action: "attend_event", event_id: event.id %>
      <% end %>
    <% end %>
    
  <% end %>
  <h3 class="w-100 text-center m-4 text-success"> Upcoming events </h3>
  <% @upcoming_events.each do |event| %>
    <%= render event %>
  <% end %>

  <h3 class="w-100 text-center m-4 text-primary"> Previous events </h3>
  <% @previous_events.each do |event| %>
    <%= render event %>
  <% end %>


</div>