<h1><%= @event.creator.username%></h1>

<h2> Attendees </h2>
<ul>
    <% @event.attendees.each do |attendee| %>
        <li><strong><%= attendee.username %></strong></li>
    <% end %>
</ul>

<h2> Invited </h2>
<ul>
    <% @event.guests.each do |guest| %>
        <li><strong><%= guest.username %></strong></li>
    <% end %>
</ul>
<%= render '/invitations/list' %>


