<div class="col-4 d-flex flex-column bg-success text-white round-border-right justify-content-center px-5"> 
    <h5 class="font-weight-bold text-right">Invite people to <%= @event.name %></h5>

    <ul class="user-list text-right">
        <% @users.each do |user| %>
            <% if user.id != session[:current_user_id] %>
                <% if user.invited_events.none?{|event| event.id==@event.id} && @event.creator.id != user.id %>
                    <li>
                        <i class="fa fa-user-plus"></i>
                        <strong><%= user.name %></strong><br>
                        <%= link_to 'invite', controller: "invitations", action: 'create', user_id: user.id, event_id: @event.id %>
                        
                    </li>
                <% end %>
            <% end %>
        <% end %>
    </ul>
</div>
